.wrapper {
    display: inline-block;
    position: relative;
    font-size: small;
}

table {
    border: solid black 1px;
    border-collapse: collapse;
    letter-spacing: 1px;
}

th {
    padding: 2px;
    background: silver;
    /*width: auto;*/
    border: 1px solid black;
    color: black;
    font-weight: 700;
    font-family: Lato, serif;
}
.textArea {
    resize: none;
}
td {
    border: 1px solid silver;
    padding: 2px 2px;
    text-align: center;
    width: auto;
}

.verticalHeader {
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    min-height: 10em;
    width: 15px;
    font-weight: 500;
    font-size: 10pt;
}

.inputField {
    width: 30px;
    font-size: small;
}

input {
    font-size: 10px;
    font-family: monospace;
}

.largeInputField{
    font-size: x-small;
    /*width: 1200px;*/
    /*word-break: break-word;*/
}