.wrapper {
    font-size: small;
}

table {
    border: solid 1px darkgray;
    border-collapse: collapse;
}

th {
    padding: 2px;
    background: whitesmoke;
    border: 1px solid darkgray;
    color: black;
    font-weight: 700;
    font-family: Lato, serif;
    text-align: center;
}

.textArea {
    resize: none;
    border: 0;
    text-align: center;
    vertical-align: middle;
}

td {
    border: 1px solid silver;
    padding: 0;
    text-align: center;
    vertical-align: center;
}

.verticalHeader {
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    font-weight: 500;
    font-size: 12pt;
    text-align: center;
}

.inputField {
    width: 30px;
    font-size: medium;
    border: 0;
}

.smallInputField {
    width: 17px;
}

input {
    padding: 0;
    margin: 0;
    height: 40px;
    font-size: 12px;
    font-family: Lato, serif;
    text-align: center;
}

.borderRight {
    border-right: 1px dashed lightgray;
}

.borderLeft {
    border-left: 1px dashed lightgray;
}