.FacultyManager {
    padding: 20px;

}

.active {
    color: red;
    font-weight: bold;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.AddFacultyContainer {
    padding: 5px;
    background-color: gainsboro;
}

.addFacultyButton {
    width: 300px;
    padding: 3px;
    background-color: lightsteelblue;
    margin-bottom: 5px;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}