.Cathedra {
     width: 700px;
     background-color: white;
 }

.cathedraName {
    display: inline-block;
    min-width: 450px;
}

.cathedraBlock:hover {
    cursor: pointer;
    background-color: gainsboro;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}