.teacher {
    width: 800px;
    background-color: white;
}

.teacherName{
    display: inline-block;
    min-width: 400px;
}

.teacherBlock:hover {
    cursor: pointer;
    background-color: gainsboro;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}