.wrapper {
    width: 1150px;
    min-height: 780px;
    margin: 0 auto;

    display: grid;
    grid-template-rows: 30px 40px 90% 30px;
    grid-template-columns: 1fr;

    grid-template-areas: "header" "menu" "content" "footer";
    grid-gap: 5px;
    font-family: Lato;
}



